<div class="tab-pane fade in" id="employeeTab">	 
	<div class="panel panel-inverse">
			<div class="panel-heading">
				<h3 class="panel-title">Employee Quick Actions</h3>
			</div>
		<div class="container"> 
			<div class="row-fluid">
				<div class="col-sm-8">	
					<div id="quickActionsBtnGroup" class="btn-group" role="group">
						<a data-backdrop="static" data-keyboard="false" href="#createObjModal" role="button" class="btn btn-primary" data-toggle="modal" data-tooltip="true" data-placement="top" title="Click to create your Objectives"> 
							<span class="glyphicon glyphicon-plus"></span>&nbsp;Create Objective (KPA)
						</a> <!-- end Create an Objective button link -->
						<!--CREATE OBJECTIVE MODAL-->
						<a data-backdrop="static"  data-keyboard="false" ng-click="getObjectivez();" href="#submitObjModal" role="button"class="btn btn-primary" data-toggle="modal" data-tooltip="true" data-placement="top" title="Click to Submit your Objectives to your Supervisor"> 
							<span class="glyphicon glyphicon-share-alt"></span>&nbsp;Submit Objective(s) 
						</a> <!-- end Submit Objectives button link-->
						<!--SUBMIT OBJECTIVE MODAL-->
						<a data-backdrop="static" data-keyboard="false" href="#scorecardModal" ng-click="retrieveApproved();" role="button" class="btn btn-primary" data-toggle="modal" data-tooltip="true" data-placement="top" title="View your Perfomance Contract">
							<span class="glyphicon glyphicon-book"></span>&nbsp;Perfomance Contract
						</a> <!-- end Compile SC button link-->
						<!--COMPILE SCORECARD MODAL-->
						<!--SCORECARD MODAL-->
						<a data-backdrop="static" data-keyboard="false" href="#evalModal" ng-click="getAllKPAs();" role="button" class="btn btn-primary" data-toggle="modal" data-tooltip="true" data-placement="top" title="Begin Self Evaluation">
							<span class="glyphicon glyphicon-star"></span>&nbsp;Self Evaluation
						</a> <!-- end Create an Objective button link -->
						<br><br>
						<div id="panelListGroupDiv" class="list-group" ng-controller="empPanelInfoCtrl">
							<a href="#" class="list-group-item"> <span class="badge"> 0 </span><span class="glyphicon glyphicon-asterisk"> </span> Notifications </a>
							<a href="#" class="list-group-item"> <span class="badge"> 3 </span><span class="glyphicon glyphicon-inbox"> </span> Emails </a>
							<a href="#" class="list-group-item"> <span class="badge" ng-model="pendingVal"> {{pendingVal}} </span><span class="glyphicon glyphicon-repeat"> </span> Pending 
							</a>
							<a href="#" class="list-group-item"> <span class="badge"> 1 </span><span class="glyphicon glyphicon-ok-circle"> </span> Completed </a>
							<a data-backdrop="static"  data-keyboard="false" ng-click="getUnaprdObjectives()" href="#unApprovedObjsModal" data-toggle="modal" data-tooltip="true" data-placement="top" role="button" class="list-group-item"> <span class="badge"> {{unapprovedVal}} </span><span class="glyphicon glyphicon-thumbs-down"> </span> Unapproved Objectives</a>
							<a data-backdrop="static"  data-keyboard="false" ng-click="getAprdObjectives();" href="#approvedObjsModal" data-toggle="modal" data-tooltip="true" data-placement="top" role="button" class="list-group-item"> <span class="badge"> {{approvedVal}} </span><span class="glyphicon glyphicon-thumbs-up"> </span> Approved Objectives
							</a>
						</div> <!-- end panelListGroupDiv-->
					</div> <!--end btn-group-->
				</div>
				<!-- By Mlandvo -->
				<div class="panel with-nav-tabs panel-info col-sm-4">
			            <div class="panel-heading">
			            	<p class="panel-title"> <span class="glyphicon glyphicon-resize-small"> </span>Mini-Dashboard</p>
			                <ul class="nav nav-tabs">	
			                	<li class="active"> 
			                		<a href="#crTab" data-toggle="tab"> 
			                     		<span class = "glyphicon glyphicon-star-empty"></span> 
			                     		Current Rating
			                     	</a>
			                     </li>

			                   	<li>
			                   		<a href="#orTab" data-toggle="tab"> 
			                   			<span class = "glyphicon glyphicon-star"></span> 
			                   			Overrall Rating
			                   		</a>
			                   	</li>
			                </ul>
			            </div>
			            <div class="panel-body">
			                <div class="tab-content">
								<div class="tab-pane fade in active" id="crTab">
									<div id="container-speed" style="width: 300px; height: 200px;"></div>
									
									
								</div>
								<div class="tab-pane fade in" id="orTab">
									<div id="overral" style="width: 300px; height: 200px; margin: 0 auto"></div>
									<!--
									<div class="alert alert-danger">
										<button type="button" class="close" data-dismiss="alert">X</button>
										<p>No Data Found!</p>
									</div>-->
								</div>
							</div>
						</div>
						<!--
						<div class="panel-footer">
							<button class="btn  btn-small btn-primary" href="#"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Export</button>
						</div>-->
				</div>
				<!--
				<div class="panel panel-primary col-sm-4">
					<div class="panel-heading">			
						<h4 class="panel-title"> <span class="glyphicon glyphicon-resize-small"> </span>Mini-Dash</h4>
					</div>
					<div class="panel-body">
						<div class="btn-group ">
							<button class="btn btn-info" href="#">Prev. Rating</button>
							<button class="btn" href="#">Curr. Rating</button>
							<button class="btn" href="#">Overrall Rating</button>
						</div>
						<div style="width: 300px; height: 200px; margin: 0 auto">
							<div id="container-speed" style="width: 300px; height: 200px;"></div>
						</div>
					</div>
					<div class="panel-footer">
						<button class="btn  btn-small btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span>&nbsp;Clear</button>
						<button class="btn  btn-small btn-primary" href="#"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Export</button>
					</div>
				</div>
				-->
			</div>
		</div>
		<!--
		<div class="container"> 
			<div class="row-fluid">
				<section>
			        <div class="wizard">
			            <div class="wizard-inner">
			                <div class="connecting-line"></div>
			                <ul class="nav nav-tabs" role="tablist">

			                    <li role="presentation" class="active">
			                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
			                            <span class="round-tab">
			                                <i class="glyphicon glyphicon-folder-open"></i>
			                            </span>
			                        </a>
			                    </li>

			                    <li role="presentation" class="disabled">
			                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
			                            <span class="round-tab">
			                                <i class="glyphicon glyphicon-pencil"></i>
			                            </span>
			                        </a>
			                    </li>
			                    <li role="presentation" class="disabled">
			                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
			                            <span class="round-tab">
			                                <i class="glyphicon glyphicon-picture"></i>
			                            </span>
			                        </a>
			                    </li>

			                    <li role="presentation" class="disabled">
			                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
			                            <span class="round-tab">
			                                <i class="glyphicon glyphicon-ok"></i>
			                            </span>
			                        </a>
			                    </li>
			                </ul>
			            </div>

			            <form role="form">
			                <div class="tab-content">
			                    <div class="tab-pane active" role="tabpanel" id="step1">
			                        <h3>Step 1</h3>
			                        <p>This is step 1</p>
			                        <ul class="list-inline pull-right">
			                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
			                        </ul>
			                    </div>
			                    <div class="tab-pane" role="tabpanel" id="step2">
			                        <h3>Step 2</h3>
			                        <p>This is step 2</p>
			                        <ul class="list-inline pull-right">
			                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
			                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
			                        </ul>
			                    </div>
			                    <div class="tab-pane" role="tabpanel" id="step3">
			                        <h3>Step 3</h3>
			                        <p>This is step 3</p>
			                        <ul class="list-inline pull-right">
			                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
			                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
			                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
			                        </ul>
			                    </div>
			                    <div class="tab-pane" role="tabpanel" id="complete">
			                        <h3>Complete</h3>
			                        <p>You have successfully completed all steps.</p>
			                    </div>
			                    <div class="clearfix"></div>
			                </div>
			            </form>
			        </div>
			    </section>
			</div>
		</div>-->
	</div>
</div> <!-- end of employee tab -->