<div class="tab-pane fade in" id="HRTab" ng-controller="hrRolesController">
    <div class="panel panel-inverse">
		<div class="panel-heading">
			<h3 class="panel-title">HR Quick Actions</h3>
		</div>
		<div class="container container-fluid">
		


    <div class="bool-container container-fluid">
        <div class="col-sm-12 col-sm-offset-0" id="obj560cf73114d04f843930692a" ng-controller="ctrl560cfdc514d04f8439306951">
           <div class="tab-container bool-container">
              <ul class="nav bool-container nav-pills nav-normal" id="obj560cf73114d04f843930692b">
                 <li class="dropdown" id="obj560cf73114d04f843930693c">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Company Structure</a>
                    <ul class="dropdown-menu bool-container">
                       <li id="obj560cf73114d04f843930693d"><a href="#structTreeView"  data-toggle="tab">Tree View</a></li>
                       <li id="obj560cf73114d04f843930693e"><a href="#structInitCompany"  data-toggle="tab">Initialise Company</a></li>
                       <li id="obj560cf73114d04f843930693f"><a href="#structAddComponent"  data-toggle="tab">Add Component</a></li>
                       <li id="obj560cf73114d04f8439306940"><a href="#structEditComponent"  data-toggle="tab">Edit Component</a></li>
                       <li id="obj560cf73114d04f8439306941"><a href="#structRemComponent"  data-toggle="tab">Remove Component</a></li>
                    </ul>
                 </li>
                 <li class="dropdown" id="obj560cf73114d04f8439306942">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Employee</a>
                    <ul class="dropdown-menu bool-container">
                       <li id="obj560cf73114d04f8439306943"><a href="#empNew"  data-toggle="tab">New Employee</a></li>
                       <li id="obj560cf73114d04f8439306944"><a href="#empEdit"  data-toggle="tab">Edit Employee</a></li>
                       <li id="obj560cf73114d04f8439306945"><a href="#empRem"  data-toggle="tab">Remove Employee</a></li>
                       <li id="obj560cf73114d04f8439306946"><a href="#empAssignToPos"  data-toggle="tab">Assign To Position</a></li>
                    </ul>
                 </li>
                 <li class="dropdown" id="obj560cf73214d04f8439306947">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Perspective</a>
                    <ul class="dropdown-menu bool-container">
                       <li id="obj560cf73214d04f8439306948"><a href="#perspNew"  data-toggle="tab">New Perspective</a></li>
                       <li id="obj560cf73214d04f8439306949"><a href="#perspEdit"  data-toggle="tab">Edit Perspective</a></li>
                       <li id="obj560cf73214d04f843930694a"><a href="#perspRem"  data-toggle="tab">Remove Perspective</a></li>
                    </ul>
                 </li>
              </ul>

              <br />
              
              <div class="tab-content bool-container">
                 <div class="tab-pane fade bool-container" id="structRemComponent"> </div>
                 <div class="tab-pane fade bool-container" id="structTab"> </div>
                 <div class="tab-pane fade bool-container" id="perspTab"> </div>
                 <div class="tab-pane fade bool-container" id="structTreeView">
                    <div class="col-sm-10 col-sm-offset-1" id="obj560d0a2e61db4270469f237c">
                       <div class="bool-container panel panel-primary">
                          <div class="panel-heading" id="obj560d0a2e61db4270469f237d">
                             <div class="bool-container panel-title">
                                <h4>Company Tree</h4>
                             </div>
                          </div>
                          <div class="bool-container panel-body"> <div id="tree"></div> </div>
                       </div>
                    </div>
                 </div>
                 <div class="tab-pane fade bool-container container-fluid" id="structInitCompany">
                    <div class="col-sm-8 col-sm-offset-2 row-fluid" id="obj560cfb0b14d04f843930694b">
                       <div class="bool-container panel panel-primary">
                          <div class="panel-heading" id="obj560cfb0b14d04f843930694c">
                             <div class="bool-container panel-title">
                                <h4>Initialise Company</h4>
                             </div>
                          </div>
                          <div class="bool-container panel-body container-fluid">
                          
                             <div class="col-sm-12" id="obj560cfb4714d04f843930694e">
                                <form class="bool-container form-horizontal" role="form">
                                   <div class="form-group" id="obj560cfc2614d04f843930694f">
                                      <label for="structInitCompName" class="col-sm-2 control-label">Company Name:</label>
                                      <div class="col-sm-6"><input type="text" class="form-control bool-input" ng-model="structInitCompName" placeholder="Enter Company Name"></div>
                                   </div>
                                   <div class="form-group" id="obj560cfc9914d04f8439306950">
                                      <div class="col-sm-4 col-sm-offset-2"><button type="button" class="bool-input btn btn-default btn-lg glyphicon glyphicon-plus btn-success" ng-model="structInitCompNameSave" ng-click="func560d000d14d04f84393069550()">Save</button></div>
                                   </div>
                                </form>
                             </div>

                         &nbsp; 
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="tab-pane fade bool-container" id="structAddComponent">
                 	<div class="col-sm-6 col-sm-offset-0" id="obj55df08bc0d163f0c59158b4b">
                                <div class="bool-container panel panel-success">
                                    <div class="panel-heading" id="obj55df08bc0d163f0c59158b4c">
                                        <div class="bool-container panel-title">
                                            <h4>Structure Params</h4></div>
                                    </div>
                                    <div class="bool-container panel-body">
                                        <div class="col-sm-12" id="obj55df0be2e0ea11bb64c0dfd7">
                                            <form class="bool-container form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label for="parentObjid" class="col-sm-2 control-label">Under:</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control bool-input" ng-model="parentObjid">
                                                            <option ng-repeat="item in structPar" value="{{item._id}}">{{item.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="obj55df1054422cb97270d3d712">
                                                    <label for="name" class="col-sm-2 control-label">Name:</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control bool-input" ng-model="name" placeholder="Component Name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="structType" class="col-sm-2 control-label">Component Type:</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control bool-input" ng-model="structureType">
                                                            <option ng-repeat="item in structType" value="{{item.val}}">{{item.disp}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="obj55df1154b720665973937b89">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <button type="button" class="bool-input btn btn-default btn-lg glyphicon glyphicon-plus btn-block btn-success" ng-model="structCompoAddBtn" ng-click="func55df11e094e05079749e0a04()">Add Component</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                 </div>
                 <div class="tab-pane fade bool-container" id="structEditComponent"> </div>
                 <div class="tab-pane fade bool-container" id="empTab"> </div>

                 <div class="tab-pane fade bool-container container-fluid" id="empNew">
                    <div class="col-sm-8 col-sm-offset-2 row-fluid" id="obj560d42f315f84cd81604f991">
                       <div class="bool-container panel panel-default">
                          <div class="panel-heading" id="obj560d42f315f84cd81604f992">
                             <div class="bool-container panel-title">
                                <h4>New Employee</h4>
                             </div>
                          </div>
                          <div class="bool-container panel-body">
                             <div class="col-sm-12" id="obj560d433215f84cd81604f994">
                                <form class="bool-container form-horizontal" role="form">
                                   <div class="form-group" id="obj560d456e2742985c0c8ceb46">
                                      <label for="newEmpFName" class="col-sm-2 control-label">First Name:</label>
                                      <div class="col-sm-6"><input type="text" class="form-control bool-input" ng-model="newEmpFName" placeholder="Employee First Name"></div>
                                   </div>
                                   <div class="form-group" id="obj560d45982742985c0c8ceb47">
                                      <label for="newEmpMName" class="col-sm-2 control-label">Middle Name:</label>
                                      <div class="col-sm-6"><input type="text" class="form-control bool-input" ng-model="newEmpMName" placeholder="Employee Mid Name"></div>
                                   </div>
                                   <div class="form-group" id="obj560d45c62742985c0c8ceb48">
                                      <label for="newEmpLName" class="col-sm-2 control-label">Last Name:</label>
                                      <div class="col-sm-6"><input type="text" class="form-control bool-input" ng-model="newEmpLName" placeholder="Employee Last Name"></div>
                                   </div>
                                   <div class="form-group" id="obj560d460c2742985c0c8ceb49">
                                      <label for="newEmpNatId" class="col-sm-2 control-label">National ID:</label>
                                      <div class="col-sm-6"><input type="text" class="form-control bool-input" ng-model="newEmpNatId" placeholder="Employee ID"></div>
                                   </div>
                                   <div class="form-group" id="obj560d46492742985c0c8ceb4a">
                                      <label for="newEmpNum" class="col-sm-2 control-label">Employee Number:</label>
                                      <div class="col-sm-6"><input type="text" class="form-control bool-input" ng-model="newEmpNum" placeholder="Employee Number"></div>
                                   </div>
                                   <div class="form-group">
                                      <label for="newEmpPos" class="col-sm-2 control-label">Position:</label>
                                      <div class="col-sm-6">
                                         <select class="form-control bool-input" ng-model="newEmpPos">
                                            <option ng-repeat="item in listOfPos" value="{{item.name}}">{{item.name}}</option>
                                         </select>
                                      </div>
                                   </div>
                                   <div class="form-group" id="obj560d47282742985c0c8ceb4c">
                                      <div class="col-sm-4 col-sm-offset-2"><button type="button" class="bool-input btn btn-default btn-lg glyphicon glyphicon-plus btn-block btn-success" ng-model="newEmpSaveBtn" ng-click="saveNewEmployee()">Save</button></div>
                                   </div>
                                </form>
                             </div>
                             &nbsp;
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="tab-pane fade bool-container" id="empEdit"> </div>
                 <div class="tab-pane fade bool-container" id="empRem"> </div>
                 <div class="tab-pane fade bool-container" id="empAssignToPos"> </div>
                 <div class="tab-pane fade bool-container" id="perspNew">
                    <div class="col-sm-6 col-sm-offset-0" id="obj560d37130e390d844474bfa8">
                       <div class="bool-container panel panel-primary">
                          <div class="panel-heading" id="obj560d37130e390d844474bfa9">
                             <div class="bool-container panel-title">
                                <h4>New Perspective</h4>
                             </div>
                          </div>
                          <div class="bool-container panel-body">
                             <div class="col-sm-12" id="obj560d37c7e6df47f417053357">
                                <form class="bool-container form-horizontal" role="form">
                                   <div class="form-group" id="obj560d3a91e6df47f417053358">
                                      <label for="perspName" class="col-sm-2 control-label">Perspective Name:</label>
                                      <div class="col-sm-6"><input type="text" class="form-control bool-input" ng-model="perspName" placeholder="Enter New Perspective"></div>
                                   </div>
                                   <div class="form-group" id="obj560d3ad5e6df47f417053359">
                                      <div class="col-sm-4 col-sm-offset-2"><button type="button" class="bool-input btn btn-default btn-lg glyphicon glyphicon-plus btn-success" ng-model="perspNameSaveBtn" ng-click="saveNewPerspective()">Save</button></div>
                                   </div>
                                </form>
                             </div>
                            &nbsp; 
                          </div>
                       </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-0" id="obj560d37460e390d844474bfab">
                       <div class="bool-container panel panel-info">
                          <div class="panel-heading" id="obj560d37460e390d844474bfac">
                             <div class="bool-container panel-title">
                                <h4>List Of Perspectives</h4>
                             </div>
                          </div>
                          <div class="bool-container panel-body"> 
                            <ul class="list-group">
						   <li class="list-group-item" ng-repeat="persp in listOfPersp" value="{{persp.perspName}}">{{persp.perspName}}</li>
						</ul>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="tab-pane fade bool-container" id="perspEdit"> </div>
                 <div class="tab-pane fade bool-container" id="perspRem"> </div>
              </div>
           </div>
        </div>
     </div>


		
		</div>
	</div> <!--end panel-->
</div> <!--end HRTab div-->